<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Docker App for Express and Flask</title>
  </head>
  <body>
    <p>Hello from Front-End</p>
    <p><%= data.dara.join(", ") %></p>
  </body>
  <style>
    body {
      background-color: black;
      color: white;
    }
  </style>
</html>
